{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "shippedProposals": true,
        "modules": "commonjs",
        "targets": {
          "ie": 11
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-react-jsx"
  ]
}